# ==================== Supabase Postgres ====================
# The Supabase Postgres is reachable inside the supabase_network_powersync_demo
# network. Container name is `supabase_db_${project_id}`, where project_id is
# defined in ../supabase/config.toml (powersync_demo).
PG_DATABASE_HOSTNAME=supabase_db_powersync_demo
PG_DATABASE_NAME=postgres
PG_DATABASE_PORT=5432
PG_DATABASE_USER=postgres
PG_DATABASE_PASSWORD=postgres
PS_DATA_SOURCE_URI=postgres://${PG_DATABASE_USER}:${PG_DATABASE_PASSWORD}@${PG_DATABASE_HOSTNAME}:${PG_DATABASE_PORT}/${PG_DATABASE_NAME}

# ==================== PowerSync ====================
PS_PORT=8080
